# Assignment is below at the end

- https://scikit-learn.org/stable/modules/tree.html
- https://scikit-learn.org/stable/modules/generated/sklearn.tree.DecisionTreeClassifier.html
- https://scikit-learn.org/stable/modules/generated/sklearn.tree.plot_tree.html

In [822]:
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
plt.rcParams['figure.figsize'] = (20, 6)
plt.rcParams['font.size'] = 14
import pandas as pd
import numpy as np

In [823]:
df = pd.read_csv('../data/adult.data', index_col=False)

In [824]:
golden = pd.read_csv('../data/adult.test', index_col=False)

In [825]:
golden.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K.
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K.
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K.
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K.
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K.

In [826]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [827]:
df.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'salary'],
      dtype='object')

In [828]:
from sklearn import preprocessing

In [829]:
enc = preprocessing.OrdinalEncoder()

In [830]:
transform_columns = ['sex']
non_num_columns = ['workclass', 'education', 'marital-status', 
                     'occupation', 'relationship', 'race', 'sex', 
                     'native-country']

In [831]:
pd.get_dummies(df[transform_columns]).head()

   sex_ Female  sex_ Male
0            0          1
1            0          1
2            0          1
3            0          1
4            1          0

In [832]:
x = df.copy()

x = pd.concat([x.drop(non_num_columns, axis=1), 
               pd.get_dummies(df[transform_columns])], axis=1,)

x["salary"] = enc.fit_transform(df[["salary"]])

In [833]:
x.head()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week,salary,sex_ Female,sex_ Male
0,39,77516,13,2174,0,40,0.0,0,1
1,50,83311,13,0,0,13,0.0,0,1
2,38,215646,9,0,0,40,0.0,0,1
3,53,234721,7,0,0,40,0.0,0,1
4,28,338409,13,0,0,40,0.0,1,0

In [834]:
xt = golden.copy()

xt = pd.concat([xt.drop(non_num_columns, axis=1), 
               pd.get_dummies(golden[transform_columns])], axis=1,)

xt["salary"] = enc.fit_transform(golden[["salary"]])

In [835]:
xt.salary.value_counts()

0.0    12435
1.0     3846
Name: salary, dtype: int64

In [836]:
enc.categories_

[array([' <=50K.', ' >50K.'], dtype=object)]

In [837]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier

#### Choose the model of your preference: DecisionTree or RandomForest

In [838]:
model = RandomForestClassifier(criterion='entropy')

In [839]:
model = DecisionTreeClassifier(criterion='entropy', max_depth=None)

In [840]:
model.fit(x.drop(['fnlwgt','salary'], axis=1), x.salary)

DecisionTreeClassifier(criterion='entropy')

In [841]:
model.tree_.node_count

8339

In [842]:
list(zip(x.drop(['fnlwgt','salary'], axis=1).columns, model.feature_importances_))

[('age', 0.3227358201338254),
 ('education-num', 0.1606677298585132),
 ('capital-gain', 0.2274656903464145),
 ('capital-loss', 0.07881265478007314),
 ('hours-per-week', 0.15465998965860725),
 ('sex_ Female', 0.03354128772025105),
 ('sex_ Male', 0.022116827502315646)]

In [843]:
list(zip(x.drop(['fnlwgt','salary'], axis=1).columns, model.feature_importances_))

[('age', 0.3227358201338254),
 ('education-num', 0.1606677298585132),
 ('capital-gain', 0.2274656903464145),
 ('capital-loss', 0.07881265478007314),
 ('hours-per-week', 0.15465998965860725),
 ('sex_ Female', 0.03354128772025105),
 ('sex_ Male', 0.022116827502315646)]

In [844]:
x.drop(['fnlwgt','salary'], axis=1).head()

,age,education-num,capital-gain,capital-loss,hours-per-week,sex_ Female,sex_ Male
0,39,13,2174,0,40,0,1
1,50,13,0,0,13,0,1
2,38,9,0,0,40,0,1
3,53,7,0,0,40,0,1
4,28,13,0,0,40,1,0

In [845]:
set(x.columns) - set(xt.columns)

set()

In [846]:
list(x.drop('salary', axis=1).columns)

['age',
 'fnlwgt',
 'education-num',
 'capital-gain',
 'capital-loss',
 'hours-per-week',
 'sex_ Female',
 'sex_ Male']

In [847]:
predictions = model.predict(xt.drop(['fnlwgt','salary'], axis=1))
predictionsx = model.predict(x.drop(['fnlwgt','salary'], axis=1))

In [848]:
from sklearn.metrics import (
    accuracy_score, 
    classification_report, 
    confusion_matrix, auc, roc_curve
)

In [849]:
accuracy_score(xt.salary, predictions)

0.8208955223880597

In [850]:
accuracy_score(xt.salary, predictions)

0.8208955223880597

In [851]:
confusion_matrix(xt.salary, predictions)

array([[11458,   977],
       [ 1939,  1907]])

In [852]:
print(classification_report(xt.salary, predictions))

              precision    recall  f1-score   support

         0.0       0.86      0.92      0.89     12435
         1.0       0.66      0.50      0.57      3846

    accuracy                           0.82     16281
   macro avg       0.76      0.71      0.73     16281
weighted avg       0.81      0.82      0.81     16281

In [853]:
print(classification_report(xt.salary, predictions))

              precision    recall  f1-score   support

         0.0       0.86      0.92      0.89     12435
         1.0       0.66      0.50      0.57      3846

    accuracy                           0.82     16281
   macro avg       0.76      0.71      0.73     16281
weighted avg       0.81      0.82      0.81     16281

In [854]:
accuracy_score(x.salary, predictionsx)

0.8955806025613464

In [855]:
confusion_matrix(x.salary, predictionsx)

array([[24097,   623],
       [ 2777,  5064]])

In [856]:
print(classification_report(x.salary, predictionsx))

              precision    recall  f1-score   support

         0.0       0.90      0.97      0.93     24720
         1.0       0.89      0.65      0.75      7841

    accuracy                           0.90     32561
   macro avg       0.89      0.81      0.84     32561
weighted avg       0.90      0.90      0.89     32561

In [857]:
print(classification_report(x.salary, predictionsx))

              precision    recall  f1-score   support

         0.0       0.90      0.97      0.93     24720
         1.0       0.89      0.65      0.75      7841

    accuracy                           0.90     32561
   macro avg       0.89      0.81      0.84     32561
weighted avg       0.90      0.90      0.89     32561

# For the following use the above `adult` dataset. Start with only numerical features/columns.

# 1. Show the RandomForest outperforms the DecisionTree for a fixed `max_depth` by training using the train set and `precision`, `recall`, `f1` on golden-test set.

In [858]:
model_ran = RandomForestClassifier(criterion='entropy', max_depth=5)

model_dec = DecisionTreeClassifier(criterion='entropy', max_depth=5)

In [859]:
# Test Dataset Models
model_ranx = model_ran.fit(x.drop(['fnlwgt','salary'], axis=1), x.salary)
model_decx = model_dec.fit(x.drop(['fnlwgt','salary'], axis=1), x.salary)

In [860]:
# Test Dataset Feature Importance - Random Forest Model
list(zip(x.drop(['fnlwgt','salary'], axis=1).columns, model_ranx.feature_importances_))

[('age', 0.23514638763710297),
 ('education-num', 0.21604929242575063),
 ('capital-gain', 0.2986528677195706),
 ('capital-loss', 0.05305502922675199),
 ('hours-per-week', 0.07380740669368915),
 ('sex_ Female', 0.05580199178502146),
 ('sex_ Male', 0.06748702451211322)]

In [861]:
# Test Dataset Feature Importance - Decision Tree Model
list(zip(x.drop(['fnlwgt','salary'], axis=1).columns, model_decx.feature_importances_))

[('age', 0.27942432987238175),
 ('education-num', 0.2126859917490444),
 ('capital-gain', 0.3524074865400652),
 ('capital-loss', 0.042359393435638944),
 ('hours-per-week', 0.008875209903870702),
 ('sex_ Female', 0.03943299760989627),
 ('sex_ Male', 0.06481459088910276)]

In [862]:
# Train Dataset Models
model_ranxt = model_ran.fit(xt.drop(['fnlwgt','salary'], axis=1), xt.salary)
model_decxt = model_dec.fit(xt.drop(['fnlwgt','salary'], axis=1), xt.salary)

In [863]:
# Train Dataset Feature Importance - Random Forest Model
list(zip(xt.drop(['fnlwgt','salary'], axis=1).columns, model_ranxt.feature_importances_))

[('age', 0.262020307930678),
 ('education-num', 0.20059403978532683),
 ('capital-gain', 0.2849568422757507),
 ('capital-loss', 0.04888514421811793),
 ('hours-per-week', 0.08479493178991677),
 ('sex_ Female', 0.05618100673376871),
 ('sex_ Male', 0.0625677272664411)]

In [864]:
# Train Dataset Feature Importance - Decision Tree Model
list(zip(xt.drop(['fnlwgt','salary'], axis=1).columns, model_decxt.feature_importances_))

[('age', 0.28975085475345347),
 ('education-num', 0.20247464244215896),
 ('capital-gain', 0.3513355102543071),
 ('capital-loss', 0.044404319123274076),
 ('hours-per-week', 0.005737958288897269),
 ('sex_ Female', 0.06812394165679954),
 ('sex_ Male', 0.03817277348110957)]

In [865]:
# Random Forest Model Predictions
predictions_ranx = model_ranx.predict(x.drop(['fnlwgt','salary'], axis=1))
predictions_ranxt = model_ranxt.predict(xt.drop(['fnlwgt','salary'], axis=1))

In [866]:
# Random Forest Test Report
ran_test = classification_report(x.salary, predictions_ranx)

# Random Forest Train Report
ran_train = classification_report(xt.salary, predictions_ranxt)

In [867]:
# Decision Tree Model Predictions
predictions_decx = model_decx.predict(x.drop(['fnlwgt','salary'], axis=1))
predictions_decxt = model_decxt.predict(xt.drop(['fnlwgt','salary'], axis=1))

In [868]:
# Decision Tree Test Report
dec_test = classification_report(x.salary, predictions_decx)

# Decision Tree Train Report
dec_train = classification_report(xt.salary, predictions_decxt)

In [869]:
# Model Report Comparisons
print("Decision Tree Training Dataset \n\n", dec_train, "\n")
print("Decision Tree Testing Dataset  \n\n", dec_test, "\n")
print("Random Forest Training Dataset \n\n", ran_train, "\n")
print("Random Forest Testing Dataset \n\n", ran_test, "\n")

Decision Tree Training Dataset

               precision    recall  f1-score   support

         0.0       0.86      0.92      0.89     12435
         1.0       0.66      0.50      0.57      3846

    accuracy                           0.82     16281
   macro avg       0.76      0.71      0.73     16281
weighted avg       0.81      0.82      0.81     16281


Decision Tree Testing Dataset

               precision    recall  f1-score   support

         0.0       0.86      0.92      0.89     24720
         1.0       0.67      0.51      0.58      7841

    accuracy                           0.82     32561
   macro avg       0.76      0.71      0.73     32561
weighted avg       0.81      0.82      0.81     32561


Random Forest Training Dataset

               precision    recall  f1-score   support

         0.0       0.83      0.98      0.90     12435
         1.0       0.83      0.36      0.50      3846

    accuracy                           0.83     16281
   macro avg       0.83      0.67      0.70     16281
weighted avg       0.83      0.83      0.81     16281


Random Forest Testing Dataset

               precision    recall  f1-score   support

         0.0       0.83      0.98      0.90     24720
         1.0       0.84      0.37      0.51      7841

    accuracy                           0.83     32561
   macro avg       0.84      0.67      0.71     32561
weighted avg       0.83      0.83      0.81     32561

# 2. For RandomForest or DecisionTree and using the `adult` dataset, systematically add new columns, one by one, that are non-numerical but converted using the feature-extraction techniques we learned. Show [`precision`, `recall`, `f1`] for each additional feature added.

In [871]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder

one_hot = OneHotEncoder()
label_encoder = LabelEncoder()

In [872]:
x = df.copy()
xt = golden.copy()

In [873]:
# Creating Individual Numeric Sex Columns
sex_dummiesx = pd.get_dummies(x.sex, prefix='sex')
x = pd.concat([x, sex_dummiesx], axis=1)

sex_dummiesxt = pd.get_dummies(xt.sex, prefix='sex')
xt = pd.concat([xt, sex_dummiesxt], axis=1)

In [874]:
# Creating Individual Race Columns
race_dummiesx = pd.get_dummies(x.race, prefix='race')
x = pd.concat([x, race_dummiesx], axis=1)

race_dummiesxt = pd.get_dummies(xt.race, prefix='race')
xt = pd.concat([xt, race_dummiesxt], axis=1)

In [875]:
# Creating Individual Relationship Columns
relationship_dummiesx = pd.get_dummies(x.relationship, prefix='relation')
x = pd.concat([x, relationship_dummiesx], axis=1)

relationship_dummiesxt = pd.get_dummies(xt.relationship, prefix='relation')
xt = pd.concat([xt, relationship_dummiesxt], axis=1)

In [876]:
# Creating Individual Working Class Columns
workclass_dummiesx = pd.get_dummies(x.workclass, prefix='workclass')
x = pd.concat([x, workclass_dummiesx], axis=1)

workclass_dummiesxt = pd.get_dummies(xt.workclass, prefix='workclass')
xt = pd.concat([xt, workclass_dummiesxt], axis=1)

In [877]:
x["salary"] = enc.fit_transform(x[["salary"]])
xt["salary"] = enc.fit_transform(xt[["salary"]])

In [878]:
# Model Specific Columns
feature_cols = ['salary', 'education-num', 'sex_ Female', 'sex_ Male', 'race_ Amer-Indian-Eskimo', 'race_ Asian-Pac-Islander', 'race_ Black', 'race_ Other', 'race_ White', 'relation_ Husband', 'relation_ Not-in-family', 'relation_ Other-relative', 'relation_ Own-child', 'relation_ Unmarried', 'relation_ Wife', 'workclass_ ?', 'workclass_ Federal-gov', 'workclass_ Local-gov', 'workclass_ Never-worked', 'workclass_ Private', 'workclass_ Self-emp-inc', 'workclass_ Self-emp-not-inc', 'workclass_ State-gov', 'workclass_ Without-pay']

In [880]:
# Random Forest Model - Just Education Years
X = x[feature_cols[0:2]]

model = RandomForestClassifier(criterion='entropy', max_depth=5)

modelfit = model.fit(np.asarray(X.drop(['salary'], axis = 1)), x.salary)

predictionssex = modelfit.predict(np.asarray(X.drop(['salary'], axis = 1)))

rep1 = classification_report(x.salary, predictionssex)

In [881]:
# Random Forest Model - Educatioin + Sex Features
X = x[feature_cols[0:4]]

modelfit = model.fit(np.asarray(X.drop(['salary'], axis = 1)), x.salary)

predictionssex = modelfit.predict(np.asarray(X.drop(['salary'], axis = 1)))

rep2 = classification_report(x.salary, predictionssex)

In [882]:
# Random Forest Model - Education + Sex + Race Features
X = x[feature_cols[0:9]]

modelfit = model.fit(np.asarray(X.drop(['salary'], axis = 1)), x.salary)

predictionssex = modelfit.predict(np.asarray(X.drop(['salary'], axis = 1)))

rep3 = classification_report(x.salary, predictionssex)

In [883]:
# Random Forest Model - Education + Sex + Race + Relation Features
X = x[feature_cols[0:15]]

modelfit = model.fit(np.asarray(X.drop(['salary'], axis = 1)), x.salary)

predictionssex = modelfit.predict(np.asarray(X.drop(['salary'], axis = 1)))

rep4 = classification_report(x.salary, predictionssex)

In [884]:
# Random Forest Model - Education + Sex + Race Features + Relation + Workclass
X = x[feature_cols]

modelfit = model.fit(np.asarray(X.drop(['salary'], axis = 1)), x.salary)

predictionssex = modelfit.predict(np.asarray(X.drop(['salary'], axis = 1)))

rep5 = classification_report(x.salary, predictionssex)

In [885]:
# Model Report Comparisons

print("Education Number Variable Only \n\n", rep1, "\n")
print("Education Number and Sex Variables  \n\n", rep2, "\n")
print("Education Number, Sex, and Race Variables \n\n", rep3, "\n")
print("Education Number, Sex, Race, and Relationship Variables \n\n", rep4, "\n")
print("Education Number, Sex, Race, Relationship, and Working Class Variables \n\n", rep5, "\n")

Education Number Variable Only

               precision    recall  f1-score   support

         0.0       0.79      0.96      0.87     24720
         1.0       0.62      0.22      0.32      7841

    accuracy                           0.78     32561
   macro avg       0.71      0.59      0.59     32561
weighted avg       0.75      0.78      0.74     32561


Education Number and Sex Variables

               precision    recall  f1-score   support

         0.0       0.83      0.90      0.86     24720
         1.0       0.58      0.43      0.49      7841

    accuracy                           0.79     32561
   macro avg       0.70      0.66      0.68     32561
weighted avg       0.77      0.79      0.77     32561


Education Number, Sex, and Race Variables

               precision    recall  f1-score   support

         0.0       0.83      0.91      0.87     24720
         1.0       0.59      0.40      0.47      7841

    accuracy                           0.79     32561
   macro avg       0.71      0.65      0.67     32561
weighted avg       0.77      0.79      0.77     32561


Education Number, Sex, Race, and Relationship Variables

               precision    recall  f1-score   support

         0.0       0.83      0.95      0.89     24720
         1.0       0.73      0.40      0.52      7841

    accuracy                           0.82     32561
   macro avg       0.78      0.68      0.70     32561
weighted avg       0.81      0.82      0.80     32561


Education Number, Sex, Race, Relationship, and Working Class Variables

               precision    recall  f1-score   support

         0.0       0.83      0.96      0.89     24720
         1.0       0.72      0.37      0.49      7841

    accuracy                           0.81     32561
   macro avg       0.78      0.66      0.69     32561
weighted avg       0.80      0.81      0.79     32561

# 3. Optional: Using gridSearch find the most optimal parameters for your model
Warning: this can be computationally intensive and may take some time.
- https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.GridSearchCV.html
- https://scikit-learn.org/stable/modules/grid_search.html